


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

ul.navbar-nav li{
  padding-left:2px;
  padding-right:2px;
}

/* main */

div.main_field {
  margin-top: 54px; 
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}